*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}

html, body{
  background-color: hsl(0,0%,90%);
}
.logo-desk{
  display:inline-block;
  position:relative;
  text-align:left;
  font-size:40px;
  width:100%;
}
.logo-con{
  vertical-align: top;
  margin-top:20px;
  margin-left:50px;
  width:110px;
  height:100px;
  display:inline-block;
  margin-bottom:10px;
}
.logo-con img{
  object-fit:contain;
}
.logoh1-con{
  font-family: sans-serif;
  margin-top:20px;
  vertical-align: top;
  display:inline-block;
  user-select: none;
}

.social-things{
  font-family: 'Noto Sans', sans-serif;
  width:100%;
  height:35px;
  background-color: hsl(0,0%,77%);
}
.contact-things div{
  float:right;
  padding-top:5px;
}
.contact-things div >a{
  margin-right:20px;
  font-size:20px;
  color:hsl(0, 0%, 0%);
  font-weight: 700;
  text-decoration: none;
}
.contact-things div>a:hover{
  color:hsl(226, 100%, 20%);
  transition:color 1s
}
.contact-things div> i{
  font-size:25px;
  color:hsl(0,0%,30%);
}
.contact-things div .icofont-facebook{
  color: hsl(221, 44%, 41%);
}
.nav-bar-mb{
  display:none
}
.nav-bar-desk{
  margin-top:20px;
  text-align: center;
  background: linear-gradient(to bottom, hsl(218, 100%, 40%),hsl(226, 100%, 20%));
  height:44px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.nav-bar-desk ul{
  display:inline-block;
  list-style-type:none;
}
.nav-bar-desk ul>li:hover{
  animation:nav-bar-hover 0.6s forwards;
}
.nav-bar-desk ul>li:hover a{
  color:white;
}
@keyframes nav-bar-hover {
  100%{
    background: linear-gradienthsl(236, 100%, 38%);
  }
}
.nav-bar-desk ul>li{
  padding:5px 40px;
  border-left:1px solid hsl(0,0%,90%);
  border-right:1px solid hsl(0,0%,90%);
  float:left;
  text-decoration: none;
}
.nav-bar-desk ul li>a{
  font-size:25px;
  color:hsl(0,0%,80%);
  text-decoration: none;
}
.all-content{
  font-family: 'Noto Sans', sans-serif;
  width:70%;
  margin:0 auto;
}
.short-description{
  margin-top:100px;
}
.short-description p{
  font-size:25px;
}
.short-description a{
  font-weight: bold;
  font-size:24px;
  color:black;
}
.short-description span>p,a{
  display:inline;
}
.shortcut{
  margin:40px 0;
  text-align: center;
  padding:5px 0px;
}
.shortcut a{
  color:black;
  font-size:25px;
  text-decoration: none;
  margin:0 10px;
}
.component{
  margin:80px auto 0;
  text-align:center;
}
.container{
  vertical-align: top;
  position:relative;
  display:inline-block;
  margin:50px 15px;
  width:250px;
  height:250px;
}
.component-name{
  margin-top:20px;
  margin-bottom: 20px;
}
.class-component{
  padding-bottom:20px;
}

.top-border{
  height:2px;
  width:100%;
  background: linear-gradient(to right,hsl(0,0%,0%),
  hsl(226, 100%, 20%),
  hsl(218, 100%, 40%) 10%,
  hsl(0,0%,90%) 40%,
  hsl(0,0%,90%) 60%,
  hsl(218, 100%, 40%),
  hsl(226, 100%, 20%),
  hsl(0,0%,0%));
}
.bottom-border{
  height:2px;
  width:100%;
  background: linear-gradient(to right,hsl(0,0%,90%)35%,
  hsl(218, 100%, 40%),
  hsl(226, 100%, 20%)47%,
  hsl(0,0%,0%),
  hsl(0,0%,0%),
  hsl(226, 100%, 20%)53%,
  hsl(218, 100%, 40%),
  hsl(0,0%,90%)65%);
}
.product{
  width:100%;
  height:50px;
  background-color: hsl(0,0%,10%);
}
.product h4{
  padding-top: 4px;
  color:white;
  font-size:23px;
}
.rest{
  height:198px;
  width:248px;
}
.rest img{
  object-fit: cover;
  width:100%;
  height: 100%;
}
.after-more{
  display:none;
  color:white;
}


.container.active{
  width:98%;
  height:auto;
  background-image: linear-gradient(gray,gray);
}
.container.active .product{
  display: none;
}
.container.active .rest{
  height: auto;
  width: 100%;
}
.container.active .bottom-container{
  display:none;
}
.container.active .rest .after-more{
  display:inline;
}
.container.active .icofont-brand-nexus{
  z-index: 2;
  position:absolute;
  top:15px;
  right:15px;
  font-size:25px;
  color:black;
  padding:5px;
}
.container.active img{
  display: none;
}

.after-more-left{
  margin-bottom: 10px;
  display: inline-block;
  margin-left:10px;
  width:58%;
  height:98%;
  margin-top:10px;
  vertical-align: top;
}
.after-more-left-name{
  text-align: left;
}
.only-border{
  height:1px;
  width:100%;
  background-color:hsl(0,0%,30%);
}
.after-more-left-img{
  margin-top:10px;
  width:65%;
  height:400px;
  border:1px solid white;
}
.container .after-more .after-more-left-img img{
  display: inline-block;
  width:100%;
  height:100%;
  object-fit: cover;
}
.con-price-netto,.con-price-brutto{
  text-align: left;
}
.con-price-netto p,.con-price-brutto p{
  display: inline-block;
  text-align: left;
}
.pPrice{
  color:hsl(226,100%,40%);
  font-size: 22px;
  font-weight:bold;
}
.after-more-left-info{
  margin-top:10px;
  text-align: left;
}
.after-more-right{
  margin-bottom: 10px;
  position:relative;
  height:98%;
  width:38%;
  display: inline-block;
  vertical-align: top;
  margin:10px 10px 0px 5px;
}
.after-more-right-spec div{
  text-align: left;
}

.after-more-right-spec div .spec-name{
  color:hsl(0,0%,85%);
}
.after-more-right-spec div p{
  display:inline-block;
  margin-left:10px;
}
.container:hover .bottom-container{
  transform: scaleY(1);
  transition: all 0.3s;
}
.bottom-container{
  width:100%;
  position:absolute;
  bottom:0;
  height:50px;
  background-color: hsla(0,0%,50%,0.8);
  transform: scaleY(0);
  transform-origin: bottom;
}
.bottom-container  p{
  display:inline-block;
  color:white;
  font-size:20px;
}
.bottom-container .price .bottom-container-price{
  font-size:21px;
  color:hsl(226,100%,40%);
  font-weight:bold;
}
.price{
  float:left;
  margin-top:7px;
  left:0;
  width:60%;
  height:100%;
}
.more{
  float:right;
  right:0;
  width:40%;
  height:100%;
  cursor: pointer;
}
.more p{
  text-align: center;
  margin-top:5px;
  font-size:22px;
}
footer{
  position:relative;
  width:100%;
  bottom:0;
  background: hsl(0,0%,10%);
}
.logo-con-foot{
  position:relative;
  width:180px;
  height:180px;
}
.logoh-con-foot{
  text-align: left;
  color:hsl(0,0%,90%);
}
.over-footer{
  margin:0 10%;
}
.pseudo-footer-div{
  position:relative;
  display:flex;
  margin:15px 0% 0px;
}
.icofont-simple-down{
  display:none;
}
.pseudo-footer-div>li{
  display:inline-block;
  text-align: left;
  margin: 0 auto;
  font-family: 'Titillium Web', sans-serif;
  /*border:1px solid green; */
}
.footer-logo-VegSec> h1, p{
  text-align:left;
}
.pseudo-footer-div>li ul{
  list-style-type:none
}
.pseudo-footer-div> li ul li{
  padding:5px 3px;
  line-height: 20px;
}
.pseudo-footer-div> li ul li a{
  color:hsl(0,0%,60%);
  text-decoration: none;
  font-size:21px;
  padding-right:2px;
  display: block;
  padding:5px 0px;
}
.pseudo-footer-div> li ul li .main_a{
  color:hsl(0,0%,90%);
}
.pseudo-footer-div h1{
  font-size:37px;
  color:white;
}
.pseudo-footer-div p{
  font-size:22px;
  color:hsl(0,0%,60%);
}
.pseudo-footer-div h3{
  font-size:21px;
  color:hsl(0,0%,90%);
  font-weight:400;
}
.footer-underline{
  height:2px;
  background:linear-gradient(to right,hsl(236, 100%, 28%) 10%, hsl(0,0%,10%) 30%);
  background-size: 220% 100%;
  background-position: right bottom;
}
@keyframes change-color-a-to-white {
  0%{
    color:hsl(0, 0%, 60%);
  }
  80%,100%{
    color:hsl(0,0%,100%);
  }
}
.pseudo-footer-div> li ul li:hover .footer-underline, .pseudo-footer-div li>a:hover{
  background-position: left bottom;
  transition:all 1s ease;
  animation:change-color-a-to-white 1s forwards;
}

.footer{
  position:relative;
  width:100%;
  bottom:0;
  height:100px;
  background: hsl(0,0%,8%);
}
.footer ul{
  margin:20px 10% 0px;
}

.footer ul>li{
  color:white;
  display:inline-block;
  margin-right: 150px;
  font-size:24px;
  font-family: 'Titillium Web', sans-serif;
}
.VegSec-map{
  margin-top:20px;
}
.VegSec-map.mb{
  display:none;
}
.VegSec-map.avg{
  display:none;
}
@media only screen and (max-width:1400px){
  .after-more-left-img{
    height:300px;
  }
}
@media only screen and (max-width:1200px){
  .over-footer{
    margin:0 10%;
  }
  .pseudo-footer-div{
    margin:0;
    height:450px;
  }
  .pseudo-footer-div >li{
    display: block;
    height:auto;
    margin:0 0;
  }
  .pseudo-footer-div> li ul li a{
    font-size:19px;
    padding:0px 0px;
  }
  .pseudo-footer-div .footer-logo-VegSec{
    margin-left:10%;
  }
  .pseudo-footer-div .footer-offer{
    position:absolute;
    bottom:2%;
    left:10%;
  }
  .footer-information{
    position:absolute;
    top:0;
    right:10%;
    min-width:303px;
  }
  .pseudo-footer-div> .footer-information ul li {
    padding:5px 3px;
}
  .footer-contact{
    min-width:303px;
    position:absolute;
    top:155px;
    right:10%;
  }
  .VegSec-map.desk{
    display:none;
  }
  .footer-map{
    position:absolute;
    bottom:0px;
    right:10%;
  }
  .VegSec-map.avg{
    display:block;
  }
}
@media only screen and (max-width:1100px){
  .bottom-container{
    transform: rotateY(0);
  }
  .container:hover .bottom-container{
    transform: scaleY(1);
    transition: all 0.3s;
  }
  .after-more-left{
    width:85%;
  }
  .after-more-right{
    width:85%;
    margin-bottom:20px;
  }
}
@media only screen and (max-width:1000px){
  .all-content{
    width:80%;
  }
  .shortcut{
    margin:40px 0;
    text-align: center;
    padding:5px 0px;
  }
  .shortcut a{
    display: block;
    color:black;
    font-size:25px;
    text-decoration: none;
    margin:10px 10px;
  }
  .container.active .icofont-brand-nexus{
    top:5px;
    right:5px;
  }
  .after-more-left-img{
    width:85%;
  }
  .nav-bar-desk ul>li{
    padding:5px 25px;
  }
  .over-footer{
    margin:0 2%;
  }
  .pseudo-footer-div{
    margin:0;
  }
  .pseudo-footer-div >li{
    display: block;
    height:auto;
    margin:0 0;
  }
  .pseudo-footer-div> li ul li a{
    font-size:19px;
    padding:0px 0px;
  }

  .VegSec-map.desk{
    display:none;
  }
  .VegSec-map.avg{
    display:block;
  }
}
@media only screen and (max-width:800px){
  .logo-con-foot{
    margin:0 auto;
  }
  .logoh-con-foot{
    text-align:center;
  }
  .contact-things{
    text-align: center;
  }
  .contact-things div{
    float:none;
    display: inline-block;
  }
  .logo-desk{
    padding-bottom:10px;
  }
  .logo-con{
    margin-left:25px;
  }
  .nav-bar-desk{
    display:none;
  }
  .bg-for-navigation{
    position: relative;
    font-size:30px;
    background: hsl(218, 100%, 40%);
    border-top-left-radius: 20px;
    display: block;
  }
  .icofont-navigation-menu{
    position:absolute;
    right:10px;
    z-index:99;
    margin-top:-50px;
  }
  .nav-bar-mb{
    height:0px;
    display:block;
    float:right;
    width:90%;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
  }
  .nav-bar-mb.active .allcontent{
    margin-top:100px;
  }
  .nav-bar-mb ul{
    list-style-type:none;
    background: linear-gradient(to bottom, hsl(218, 100%, 40%),hsl(226, 100%, 20%));
    display: block;
    height:0%;
    width:100%;
    transform: scaleX(0);
    float:right;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .nav-bar-mb ul>li:hover{
    animation:nav-bar-hover 0.6s forwards;
  }
  .a_nav_bar{
    opacity:0;
  }
  .nav-bar-mb ul>li:hover a{
    color:white;
  }
  @keyframes nav-bar-hover {
    100%{
      background: linear-gradienthsl(236, 100%, 38%);
    }
  }
  .nav-bar-mb ul>li{
    padding:5px 40px;
    border-left:1px solid hsl(0,0%,80%);
    border-right:1px solid hsl(0,0%,80%);
    text-decoration: none;
  }
  .nav-bar-mb ul li>a{
    font-size:25px;
    color:hsl(0,0%,80%);
    text-decoration: none;
  }
  .all-content{
    width:90%;
  }

  footer{
    position:relative;
    margin-top:1px;
    clear: both;
  }
  .icofont-simple-down{
    display:inline-block;
    color:white;
    position:absolute;
    right:20%;
    font-size:20px;
  }
  .over-footer{
    margin:0 2%;
  }
  .pseudo-footer-div{
    margin:0;
    height:auto;
    display:block;
  }
  .pseudo-footer-div >li{
    display: block;
    margin:10px auto;
    text-align:center;
  }
  .pseudo-footer-div> li ul li a{
    font-size:19px;
    padding:0px 0px;
  }

  .footer-underline{
    display:none;
  }
  .pseudo-footer-div .footer-logo-VegSec{
    position:relative;
    display:block;
    text-align: center;
    margin: 0 auto;
  }
  .pseudo-footer-div .footer-logo-VegSec h1,p{
    text-align: center;
  }

  .pseudo-footer-div> li ul li .main_a{
    display:inline-block;
  }

  .pseudo-footer-div .footer-offer{
    position:relative;
    bottom:0;
    left:0;
    margin:10px auto;
    height:30px;
    overflow:hidden;
  }
  .pseudo-footer-div .footer-information{
    max-width:none;
    position:relative;
    right:0;
    height:30px;
    overflow:hidden;
  }
  .pseudo-footer-div> .footer-information ul li {
    padding:5px 3px;
  }
  .pseudo-footer-div .footer-contact{
    position:relative;
    top:0;
    right:0;
    height:30px;
    overflow:hidden;
  }
  .VegSec-map.desk{
    display:none;
  }
  .footer-map{
    position:relative;
    right:0;
  }
  .VegSec-map{
    margin-top:10px;
    right:0%;
  }
  .VegSec-map.avg{
    display:block;
    right:0%;
  }
  .footer{
    position: relative;
  }
  .footer{
    position:relative;
    width:100%;
    bottom:0;
    height:auto;
    background: hsl(0,0%,8%);
  }
  .footer ul{
    margin:20px 0% 0px 5%;
  }

  .footer ul>li{
    margin-right:75px;
    font-size:18px;
  }
}
@media only screen and (max-width:730px){
  .after-more-left{
    width:85%;
  }
  .after-more-left-img{
    margin-top:10px;
    width:100%;
    height:400px;
    border:1px solid white;
  }
  .only-border{
    width:90%;
  }
}
@media only screen and (max-width:530px){
  .social-things{
    display:block;
    height:105px;
  }
  .logo-desk{
  text-align: center;
}
.logo-con{
  text-align:center;
}
.logoh1-con{
  display:block;
  text-align:center;
}
  .after-more-left-img{
    height:350px;
  }
  .container .after-more .after-more-left-img img{
    object-fit: fill;
  }
  .contact-things div{
    display:block;
  }
  .nav-bar-mb ul li>a{
    font-size:22px;
  }
  .all-content{
    width:98%;
  }
  .footer ul>li{
    margin-right:25px;
    font-size:18px;
  }
}
@media only screen and (max-width:350px){
  .contact-things div > i{
    font-size:19px;
  }
  .contact-things div > a{
    font-size:17px;
  }
  .logoh1-con{
  display:block;
  text-align:center;
  font-size:20px;
}
  .icofont-simple-down{
    right:5%;
    font-size:20px;
  }
  .pseudo-footer-div> li ul li a{
    font-size:17px
  }
  .footer-contact{
    min-width:50px;
  }
  .footer-information{
    min-width:50px;
  }
  .VegSec-map.avg{
    display:none;
  }
  .VegSec-map.mb{
    display:block;
  }
  .footer ul>li{
    font-size:15px;
  }
}
